# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.pid
*.swp
*.sqlite3
db.sqlite3

# If your build process includes running a separate web server,
# you might want to ignore logs from that server too
*.log

# Django migrations
**/migrations/**

# If you are using MySQL, PostgreSQL, or other databases, you can ignore those database files
*.db

# Local development environment
.env
.local

# Pyenv
.python-version

# Environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# pipenv
Pipfile.lock

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Jupyter Notebook
.ipynb_checkpoints

# Celery beat schedule file
celerybeat-schedule

# Sphinx documentation
docs/_build/

# Flask instance folder
instance/

# Media files
media/

# Static files
staticfiles/
static/

# Coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest
.pytest_cache/

# VSCode settings
.vscode/
.history/

# JetBrains IDEs
.idea/

# Local .env files
*.env
